<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo curso - FCAD- UNER</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
    <script src="./js/cursos.js" type="module" defer></script>
    <script src="./js/cursos-nuevo.js" type="module" defer></script>
</head>

<body>

    <header>
        <div class="contenedor">
            <h1>Nuevo curso - FCAD- UNER</h1>
            <img src="./img/Logo.png" alt="Logo de la Facultad de Ciencias de la Administración">
        </div>
    </header>
    <div class="contenedor-principal ">
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="estudiantes.html">Estudiantes</a></li>
                <li><a href="inscripciones.html">Inscripciones</a></li>
            </ul>


        </nav>


        <main>
            <h2 id="formCurso">Crear nuevo curso</h2>
            <div class="alert alert-danger d-none" id="ErrorServer" role="alert">
                Error interno del servidor
            </div>
            <form id="formCurso">
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre del Curso:</label>
                    <input type="text" id="nombre" class="form-control" required>
                    <div class="invalid-feedback">
                        el nombre del curso es necesario
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        la descripcion del curso es necesaria
                    </div>
                </div>
                <div class="form-group">
                    <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                    <input type="date" id="fechaInicio" class="form-control" required>
                    <div class="invalid-feedback">
                        la fecha de inicio es necesaria
                    </div>
                </div>
                <div class="form-group">
                    <label for="cantidadHoras" class="form-label">Cantidad de Horas:</label>
                    <input type="number" id="cantidadHoras" class="form-control" required>
                    <div class="invalid-feedback">
                        la cantidad de horas es necesaria y debe ser mayor que 0
                    </div>
                </div>
                <div class="form-group">
                    <label for="cantidadInscriptos" class="form-label">Cantidad de Inscriptos:</label>
                    <input type="number" id="cantidadInscriptos" class="form-control" required>
                    <div class="invalid-feedback">
                        la cantidad de inscriptos es necesario y debe ser mayor que 0
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="estado" class="form-label">Estado:</label>

                        <select id="estado" class="form-control">
                            <option value="1">BORRADOR</option>
                            <option value="2">INSCRIPCIÓN ABIERTA</option>
                            <option value="3">INSCRIPCIÓN CERRADA</option>
                        </select>
                    </div>
                </div>
                <button type="submit" id="btnGuardarCurso" class="btn btn-primary">Guardar Curso</button>
            </form>
        </main>
    </div>
    <footer>
        <p>&copy; 2026 Prog4202601_O . All rights reserved.</p>
    </footer>
</body>