<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar estudiante - FCAD- UNER</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
    <script src="./js/estudiantes-mod.js" type="module" defer></script>


</head>

<body>

    <header>
        <div class="contenedor">
            <h1>Modificar estudiante - FCAD- UNER</h1>
            <img src="./img/Logo.png" alt="Logo de la Facultad de Ciencias de la Administración">
        </div>
    </header>
    <div class="contenedor-principal ">
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="estudiantes.html">Estudiantes</a></li>
                <li><a href="inscripciones.html">Inscripciones</a></li>
            </ul>


        </nav>


        <main>
            <h2 id="formEstudiante">Modificar estudiante</h2>
            <div class="alert alert-danger d-none" id="ErrorServer" role="alert">
                Error interno del servidor
            </div>
            <form id="formEstudiante">
                <div class="form-group">
                    <label for="Documento">Documento:</label>
                    <input type="text" id="documento" class="form-control" required>
                    <div class="invalid-feedback">
                        el documento es necesario
                    </div>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" class="form-control" required>
                    <div class="invalid-feedback">
                        el nombre es necesario
                    </div>
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" class="form-control" required>
                    <div class="invalid-feedback">
                        el apellido es necesario
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control" required>
                    <div class="invalid-feedback">
                        el email es necesario
                    </div>
                </div>
                <div class="form-group">
                    <label for="Fecha de Nacimiento">Fecha Nacimiento:</label>
                    <input type="date" id="fecnac" class="form-control" required>
                    <div class="invalid-feedback">
                        la fecha de nacimiento es necesaria
                    </div>
                </div>
                <div class="form-group  ">
                    <label for="activo">Activo:</label>
                    <select id="activo" class="form-control">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button type="submit" id="btnGuardarEstudiante" class="btn btn-primary">Modificar Estudiante</button>
            </form>

        </main>
    </div>
    <footer>
        <p>&copy; 2026 Prog4202601_O . All rights reserved.</p>
    </footer>
</body>