<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes FCAD- UNER</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./css/estiloTablaContenido.css">
    <script src="./js/inscripciones.js" type="module" defer></script>
</head>

<body>
    <header>
        <div class="contenedor">
            <h1>Inscripciones FCAD- UNER</h1>
            <img src="./img/Logo.png" alt="Logo de la Facultad de Ciencias de la Administración">
        </div>
    </header>
    <div class="contenedor-principal ">
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="estudiantes.html">Estudiantes</a></li>
                <li><a href="inscripciones.html">Inscripciones</a></li>
            </ul>


        </nav>


        <main>
            <div class="contenedor-cursos">
                <div class="header-seccion">
                    <h2>Inscripciones</h2>
                    <div class="boton-nuevo">
                        <a href="inscripciones-nuevo.html" class="btn btn-secondary">+Nueva Inscripcion</a>
                    </div>

                </div>

                <select id="selectCurso" class="form-control">
                    <option value="">Seleccione un curso</option>
                </select>
                <button id="btnBuscar" class="btn btn-primary">buscar</button>


                </select>

                <div class="tabla-cardE">
                    <table>
                        <thead>
                            <tr>

                                <th>DNI</th>
                                <th>Apellido</th>


                            </tr>
                        </thead>
                        <tbody id="tbodyInscripciones"> </tbody>
                    </table>

                    <div class="footer-tabla">

                        <div class="paginacion">
                            <button disabled>← Ant</button>
                            <span>1/1</span>
                            <button disabled>Sig →</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <footer>
        <p>&copy; 2026 Prog4202601_O . All rights reserved.</p>
    </footer>
</body>