<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login FCAD- UNER</title>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
    <script src="./js/login.js" type="module" defer></script>
</head>

<body>

    <header>
        <div class="contenedor">
            <h1>Login FCAD- UNER</h1>
            <img src="./img/Logo.png" alt="Logo de la Facultad de Ciencias de la Administración">
        </div>
    </header>
            <div class="alert alert-danger d-none" id="ErrorServer" role="alert">
            </div>
            <form action="" method="post" class="loginform">


                <div class="container">
                    <label for="uname"><b>Usuario</b></label>
                    <input type="text" placeholder="Usuario" id="name" required>

                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Contraseña" id="pwd" required>

                    <button type="submit" id="btnIncioSesion">Iniciar Sesion</button>
                    <span class="psw">Recuperar <a href="#">contraseña?</a></span>
                </div>

            </form>
    
    <footer>
        <p>&copy; 2026 Prog4202601_O . All rights reserved.</p>
    </footer>
</body>